<?xml version="1.0" encoding="UTF-8"?>

<Configuration>
	<Properties>
		<Property name="logFolder">logs</Property>
	</Properties>
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{yyyy-MMM-dd HH:mm:ss a} [%t] %-5level %logger{36} - %msg%n"/>
		</Console>
		<File name="HibernateFile" fileName="${logFolder}/hibernate.log">
			<PatternLayout pattern="%d{yyyy-MMM-dd HH:mm:ss a} [%t] %-5level %logger{36} - %msg%n"/>
		</File>
		<File name="ApplicationLogFile" fileName="${logFolder}/gpcoderApp.log">
			<PatternLayout pattern="%d{yyyy-MMM-dd HH:mm:ss a} [%t] %-5level %logger{36} - %msg%n"/> 
		</File>
	 	<RollingFile name="RollingFileLogger" fileName="${logFolder}/rolling-app.log"
                    filePattern="${logFolder}/rolling-app-%d{yyyy-MM-dd}-%i.log.gz">
           <PatternLayout pattern="%d{yyyy-MMM-dd HH:mm:ss a} [%t] %-5level %logger{36} - %msg%n"/> 
           <Policies>
               <TimeBasedTriggeringPolicy />
               <SizeBasedTriggeringPolicy size="5MB" />
           </Policies>
       </RollingFile>
	</Appenders>
	<Loggers>
		<Logger name="org.hibernate" level="info" additivity="false">
			<AppenderRef ref="Console"/>
			<AppenderRef ref="RollingFileLogger" />
		</Logger>
		<Logger name="org.hibernate.SQL" level = "info" additivity="false">
			<AppenderRef ref="Console"/>
			<AppenderRef ref="RollingFileLogger"/>
		</Logger>
		<Logger name="org.hibernate.type.descriptor.sql" level="trace" additivity="false">
			<AppenderRef ref="Console"/>
			<AppenderRef ref="RollingFileLogger"/>
		</Logger>
		<Logger name="com.ducnh.synchronizedatabase" level="info" additivity="false">
			<AppenderRef ref="Console"/>
			<AppenderRef ref="ApplicationLogFile"/>
		</Logger>
		<Root level="error">
			<AppenderRef ref="Console"/>
			<AppenderRef ref="ApplicationLogFile"/>
		</Root>
	</Loggers>
</Configuration>